alias :q="exit"
alias please="sudo "
alias rm="trashcan"
alias cat="bat"
alias d="doas "
alias goodbye="shutdown -h now"
alias how="tldr"
alias .='cd'
alias python='python3'
alias copy='wl-copy'
alias vim='nvim'
alias ls='lsd -a'
alias ll='lsd -ahl'
alias l='lsd -ahl'
alias lst='lsd -a --tree -I .git'
alias llt='lsd -ahl --tree -I .git'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Common use
alias tarnow='tar -acf '
alias untar='tar -zxvf '
alias wget='wget -c '
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'


#Git alias
alias ga='git add'
alias gaa='git add --all'

alias gc='git commit -v'
alias gcm='git commit -v -m'

alias gP='git pull'

alias gp='git push'

alias gr='git remote'

alias gR='git reset'
alias gRh='git reset --hard'
alias gRs='git reset --soft'


alias grm='git rm'
alias grmc='git rm --cached'
alias grmcf='git rm --cached -f'
alias grmcr='git rm --cached -r'
alias grmcrf='git rm --cached -rf'

alias gcl='git clone'

alias gs='git status --porcelain | fzf --ansi --preview "git diff --color=always -- {2}"  --bind "enter:execute(echo {1} | cut -c 1-2)"'

alias glf='git log --color=always --pretty=format:"%C(auto)%h %s" | fzf --ansi --style=full --preview "git diff-tree --no-commit-id --name-status -r {1}"'
alias gld='git log --color=always --pretty=format:"%C(auto)%h %s" | fzf --ansi --style=full --preview "git show --color=always {1}"'



fzf_edit() {

  local selection

  selection=$(fzf --preview "batcat --color=always --style=numbers {1}") || return  # fzf abbrechen, keine Aktion

  if [ -f "$selection" ]; then

    ${EDITOR:-vim} "$selection"

  fi

}

fzf_edit_gitignore() {

  local selection

  selection=$(git ls-files --cached --others --exclude-standard | fzf --preview "batcat --color=always --style=numbers {1}") || return  # fzf abbrechen, keine Aktion

  if [ -f "$selection" ]; then

    ${EDITOR:-vim} "$selection"

  fi

}

alias find=fzf_edit
alias findg=fzf_edit_gitignore
